.league-calendar {
  .col-1, .col-2 {
    text-align: center;
    min-width: 90px;
  }
  .col-3 {
    text-align: right;
    padding-right: .75rem;
  }
  .col-5 {
    text-align: left;
    padding-left: .75rem;
  }
  .col-6 {
    text-align: center;
    min-width: 60px;
  }
  &__status_finished {
    padding: 0 .375rem;
    border-radius: .375rem;
    background-color: lightseagreen;
  }
  &__status_scheduled {
    padding: 0 .375rem;
    border-radius: .375rem;
    background-color: lightskyblue;
  }
  &__status_postponed {
    padding: 0 .375rem;
    border-radius: .375rem;
    background-color: darkorange;
  }
}