@import "../../constants/commonStyles";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0, .2);
  height: 48px;
  font-size: 22px;
  width: 100%;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__menu {
    text-align: center;
  }
  & * {
    max-width: 400px;
    width: 33%;
    color: rgba(0,0,0, .9);
  }
}
